<%- include('partials/header'); -%>

<link rel="stylesheet" href="/css/styles.css">  

</head>
<body>

<div class="container">
    <div class="widget">
      <div class="details">
        <div class="temperature"><%= temperature %>°C</div>
        <div class="summary">
          <p class="summaryText"><%= description %> </p>
        </div>
        <div class="precipitation">Humidity: <%= humidity %> %</div>
        <div class="wind">Wind:<%= wind %> mph </div>
      </div>
      <div class="pictoBackdrop"></div>
      <div class="pictoFrame"></div>
      <div class="pictoCloudBig"></div>
      <div class="pictoCloudFill"></div>
      <div class="pictoCloudSmall"></div>
      <div class="iconCloudBig"></div>
      <div class="iconCloudFill"></div>
      <div class="iconCloudSmall"></div>
      
    </div> 
  </div>






  <%- include('partials/footer'); -%>